@font-face {
    font-family: "Graphik LCG";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("fonts/GraphikLCG-Regular.woff") format("woff");
}

@font-face {
    font-family: "Helvetica";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("fonts/helvetica_regular.woff") format("woff");
}

@font-face {
    font-family: "HelveticaNeueCyr";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("fonts/helveticaneuecyr_black.woff") format("woff");
}

/* Common */
* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
ul {
    list-style-type: none;
}
  
img {
    max-width: 100%;
    display: block;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.image {
    margin: 0 auto;
}

.text {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    width: 276px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    letter-spacing: 1.4px;

    margin-bottom: 10px;
}

@media (min-width: 800px) {
    .text {
        font-size: 20px;
        width: 580px;
    }

    .title {
        font-size: 14px;
    }
}


/* Page */
.page {
    height: 100%;

    color: #000000;
    background-color: #FFFFFF;

    font-family: "Helvetica", sans-serif;
    font-weight: 400;
}

.page__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
}

.page__main {
    flex-grow: 1;
}

/* Header */
.page-header {
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 40px;
}

@media (min-width: 800px) {
    .page-header {
        margin-bottom: 60px;
        padding-top: 50px;
    }
}

/* Navigation */
.navigation {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    
}

.navigation__link {
    margin: 0 auto;
    margin-bottom: 25px;
}

.navigation-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 21px;
}

.navigation-menu__item:nth-child(4),
.navigation-menu__item:nth-child(5) {
    display: none;
}

.navigation-menu__link {
    font-family: "Graphik LCG", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
}

.navigation-menu__item--current .navigation-menu__link {
    color: #F10D48;
}

@media (min-width: 800px) {
    .navigation {
        width: 580px;
    }

    .navigation__link {
        order: 1;
        margin-left: 66px;
    }

    .navigation-menu {
        gap: 30px;
        margin: 0;
    }

    .navigation-menu__item:nth-child(4),
    .navigation-menu__item:nth-child(5) {
        display: inline-block; 
    }
}

/* Promo */
.promo {
    margin-bottom: 20px;
}

.promo__logo {
    margin: 0 auto;
}

@media (min-width: 800px) {
    .promo {
        margin-bottom: 40px;
    } 

    .promo__logo {
        width: 224px;
        height: 55px;
    }
}

/* page-main__section */
.page-main__section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Intro */
.intro {
    margin-bottom: 70px;
}

.intro__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0px;
    order: 0;
    margin-bottom: 10px;
}

.intro__image {
    order: -1;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
}

.intro__text {
    margin-bottom: 30px;
}

.intro__button {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    background-color: #000000;
    color: #FFFFFF;
    padding: 18px 0;
    width: 280px;

    margin: 0 auto;
}

@media (min-width: 800px) {
    .intro {
        margin-bottom: 110px;
    }

    .intro__image {
        width: 580px;
        height: 335px;
        margin-bottom: 25px;
    }

    .intro__title {
        font-size: 45px;
        line-height: 120%;
        margin-bottom: 15px;
    }

    .intro__button {
        font-size: 14px;
        width: 393px
    }
}

/* achievement */
.achievement {
    margin-bottom: 66px;
}

.achievement__slogan {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 280px;
}

.achievement__image {
    margin-bottom: 14px;
}

@media (min-width: 800px) {
    .achievement {
        margin-bottom: 110px;
    }

    .achievement__slogan {
        font-size: 35px;
        line-height: 120%;
        width: 488px;
    }

    .achievement__image {
        width: 580px;
        height: 260px;
        margin-bottom: 20px;
    }
}

/* clear */
.clear {
    margin-bottom: 70px;
}

.clear__slogan {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0px;

    margin-bottom: 10px;
}

.clear__text {
    margin-bottom: 30px;
}

.clear__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .clear {
        margin-bottom: 110px;
    }

    .clear__slogan {
        font-size: 45px;
        line-height: 120%;
    }

    .clear__text {
        margin-bottom: 40px;
    }

    .clear__container {
        gap: 40px;
    }
}

/* product */
.products__item {
    margin: 0 auto;
}

.product {
    display: grid;
}

.product__link {
    grid-row: 1 / 2 ;
    margin-bottom: 10px;
}

.product__description {
    grid-row: 2 / 3;

    font-size: 10px;
    line-height: 150%;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    margin-bottom: 1px;
}

.product__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;

    margin-bottom: 1px;
}

.product__title span {
    text-transform: uppercase;
}

.product__title span + span {
    font-size: 16px;
}

.product__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0%;

    margin-bottom: 0;
}

.product__price--irrelevant {
    display: inline-block;
    margin-left: 17px;
    color: #B3B3B3;
    position: relative;
}

.product__price--irrelevant::after {
    content: "";
    position: absolute;
    top: 13px;
    left: -5px;
    background-color: #B3B3B3;
    width: 67px;
    height: 2px;
}

.product__button {
    display: none;
}

.products__item:first-child .product__description,
.products__item:first-child .product__title,
.products__item:first-child .product__price,
.products__item:first-child .product__button {
    text-align: center;
}

.products__item:last-child .product__description,
.products__item:last-child .product__title,
.products__item:last-child .product__price,
.products__item:last-child .product__button {
    text-align: center;
}

@media (min-width: 800px) {
    .product__title {
        font-size: 24px;
        margin-bottom: 4px;
    }

    .product__title span + span {
        font-size: 20px;
    }

    .product__description {
        font-size: 11px;
    }

    .product__link {
        margin-bottom: 25px;
    }

    .product__image {
        width: 270px;
        height: 270px;
    }

    .product__price {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .product__price--irrelevant {
        margin-left: 20px;
    }

    .product__price--irrelevant::after {
        top: 17px;
        width: 87px;
    }

    .product__button {
        display: block;
        font-size: 11px;
        line-height: 100%;
        letter-spacing: 1.4px;
        text-transform: uppercase;

        background-image: url(img/arrow.svg);
        background-repeat: no-repeat;
        background-size: 15px 15px;
    }

    .products__item:first-child .product__button {
        background-position: center right;
        padding-right: 25px;
    }

    .products__item:last-child .product__button {
        background-position: center;
    }

    .products__item:first-child .product__description,
    .products__item:first-child .product__title,
    .products__item:first-child .product__price,
    .products__item:first-child .product__button {
        text-align: right;
    }

    .products__item:last-child .product__description,
    .products__item:last-child .product__title,
    .products__item:last-child .product__price,
    .products__item:last-child .product__button {
        text-align: left;
    }
}

/* special */
.special {
    margin-bottom: 70px;
}

.special__container {
    width: 320px;
    margin: 0 auto;
    background-color: #FFE9DA;
}

.special__title {
    font-weight: 700;
    font-size: 11px;
    line-height: 149%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 30px;
}

.special__text {
    font-size: 45px;
    line-height: 120%;
    letter-spacing: -0.2px;

    margin-bottom: 5px;
}

.special__description {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.7);

    margin: 0 20px;
    margin-bottom: 25px;
}

.special__link {
    display: block;
    width: 280px;
    font-weight: 700;
    font-size: 11px;
    line-height: 149%;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 17px 10px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.special__conditions {
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;
    letter-spacing: 0px;

    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

@media (min-width: 800px) {
    .special {
        margin-bottom: 95px;
    }

    .special__container {
        width: 580px;
    }

    .special__title {
        line-height: 150%;
    }

    .special__text {
        font-size: 50px;
    }

    .special__description {
        width: 332px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .special__link {
        margin-bottom: 18px;
    }
}

/* page-footer */
.page-footer {
    padding-top: 35px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.page-footer__container {
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
}

.page-footer__container:last-child {
    text-align: center;
    margin-bottom: 33px;
}

.page-footer__container:first-of-type::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(247, 247, 247, 0.1);
    margin-bottom: 22px;
}

@media (min-width: 800px) {
    .page-footer {
        padding-top: 50px;
    }

    .page-footer__container  {
        flex-direction: row;
        justify-content: space-between;
        width: 800px;
        margin: 0 auto;
        padding: 0 110px;
    }

    .page-footer__container:last-child {
        text-align: left;
        margin-bottom: 48px;
    }

    .page-footer__container:first-of-type::after {
        display: none;
    }
}

/* social */
.social {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 26px;
    gap: 44px;
}

.social__link {
    display: grid;
    place-content: center;
    width: 20px;
    height: 18px;
}

@media (min-width: 800px) {
    .social {
        justify-content: space-between;
        gap: 41px;
        align-items: center;
        margin: 0;
        margin-bottom: 39px;
    }
}

/* app */
.app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.app__link {
    display: grid;
    place-content: center;
    width: 94px;
    height: 24px;
    margin: 4px;
}

@media (min-width: 800px) {
    .app {
        margin: 0;
        margin-bottom: 39px;
    }
}

/* support */
.support {
    display: flex;
    flex-direction: column;
}

.support__link {
    font-family: "Graphik LCG", sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;

    display: inline-block;
    margin-bottom: 18px;
}

.support__desc {
    display: block;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0px;
    order: -1;
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 800px) {
    .support__desc {
        color: rgba(255, 255, 255, 1);
        order: 0;
    }

    .support__link {
        margin-bottom: 7px;
    }
}

/* copyright */
.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.copyright__link {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0px;
}

@media (min-width: 800px) {
    .copyright {
        align-items: end;
    }
}


